<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="todo-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `todo-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TodoList extends Polymer.Element {
      static get is() { return 'todo-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'todo-list'
          }
        };
      }
    }

    window.customElements.define(TodoList.is, TodoList);
  </script>
</dom-module>
