<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="todo-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Mi todoo list</h1>
    <dom-repeat items="{{task}}" as="task" observe="complete" filter="isNotComplet">
     <!--filter=“isNotComplet”-->
     <template is="dom-repeat">
       <div>
         <paper-checkbox checked="{{task.complete}}"></paper-checkbox>
         <paper-input value="{{task.name}}" label="task name" no-label-float></paper-input>
       </div>
     </template>
   </dom-repeat>


   <h3>Completados:</h3>
   <dom-repeat items="{{task}}" as="task" observe="complete" filter="isComplet">
     <!--filter=“isNotComplet”-->
     <template is="dom-repeat">
       <div>
         <paper-checkbox checked="{{task.complete}}"></paper-checkbox>
         <paper-input value="{{task.name}}" label="task name" no-label-float></paper-input>
       </div>
     </template>
   </dom-repeat>
   <paper-button type="button" name="button" on-click="agregarTask">Aprieta</paper-button>
  </template>

  <script>
    /**
     * `todo-list`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TodoList extends Polymer.Element {
      static get is() { return 'todo-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }
      agregarTask() {
    const newTask = {
      name: '',
      complete: false
    };
    this.push('task', newTask)
  }
  isNotComplet(task) {
    return !task.complete;
  }
  isComplet(task) {
    return task.complete;
  }
}

    window.customElements.define(TodoList.is, TodoList);
  </script>
</dom-module>
